<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sensor Details</title>
</head>
<body>
    <h1>Sensor Details</h1>
    <table style="border: darkgrey 2px solid">
        <tr>
            <th>Id</th>
            <th>Face</th>
            <th>State</th>
            <th>Outlier</th>
            <th>Last Update</th>
        </tr>
        <tr>
            <td>{{ sensorId }}</td>
            <td>{{ sensorFace }}</td>
            <td>{{ sensorState }}</td>
            <td>{{ isSensorOutlier }}</td>
            <td>{{ sensorLastUpdate }}</td>
        </tr>
    </table>
</body>
</html>
